/* Base style sheet for islandora solr */


/* breadcrumbs */
.strikethrough
{
  text-decoration: line-through !important;
}

.islandora-solr-breadcrumb-super
{
  vertical-align: super;
  font-size: 80%;
}


/* solr results wrapper elements */

#islandora-solr-top
{
  min-height: 25px;
}

/* Secondary display profiles */
ul#secondary-display-profiles
{
  float:right;
  margin: 0px 0px 0px 0px;
}

.item-list ul#secondary-display-profiles li
{
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: none; 
}


/* facets */

/* hide the 2nd list if a facet list is split in two */
.islandora-solr-facet .hidden
{
  display: none;
}

.facet-list .plusminus
{
  float: right;
}

.islandora-solr-facet-name,
.islandora-solr-facet-title
{
  font-weight:bold;
}

.islandora-solr-facet-wrap ul li
{
  font-size:90%;
  line-height: 1.3em;
}



/* advanced search block */

#islandora-solr-advanced-search-form div.form-item { 
  display: inline-block;
  margin-right: 10px;
}
