/* Theme style sheet for islandora solr */


/* Facets */

.islandora-solr-facet-name,
.islandora-solr-facet-title
{
  font-weight:bold;
}

.islandora-solr-facet-wrap ul li
{
  font-size:90%;
  line-height: 1.3em;
}



/* breadcrumbs */

.strikethrough
{
  text-decoration: line-through !important;
}

.islandora-solr-breadcrumb-super
{
  vertical-align: super;
  font-size: 80%;
}



/* Default solr results styling (list) */
 
.islandora-solr-search-result
{
  float: left;
  width: 100%;
  margin: 0 0 1.5em 0;
}

/* the base css for lists is set in islandora, just adding details */

.solr-thumb img
{
  border: 1px solid #ccc;
}

dl.solr-thumb
{
  float: left;
  width: 15%;
  margin: 0;
}

.solr-thumb dt,
.solr-thumb dd
{
  margin: 0;
}

dl.solr-fields
{
  float: right;
  width: 83%;
  border-top: 3px solid #ddd;
} 

.solr-fields dt,
.solr-fields dd
{
  border-top: 1px solid #ddd;
}

.solr-fields dt.first,
.solr-fields dd.first
{
  border-top: 0;
}