/* Admin style sheet for islandora solr */

/* refresh button */
html.js .refresh-button {
  display: none;
}

/* drag handler placeholder cell */
.islandora-solr-multiple-drag
{
  width: 30px;
}

.islandora-solr-operations
{
  width: 60px;
}