/* Admin style sheet for islandora solr */

/* refresh button */
html.js .refresh-button {
  display: none;
}

/* drag handler placeholder cell */
.islandora-solr-multiple-drag
{
  width: 30px;
}

.islandora-solr-operations
{
  width: 60px;
}

html.js .islandora-solr-operations-hidden
{
  width: 20px;
}

/* autocomplete styling */
#autocomplete
{
  max-height: 300px;
  overflow: auto;
}

#autocomplete ul
{
  
}

#autocomplete ul li
{
  padding: 3px;
}

#autocomplete ul li:nth-child(even)
{
  background-color: #eee;
}

#autocomplete ul li.selected:nth-child(even)
{
  background-color: #0074BD;
}



/* result fields js */

html.js .islandora-solr-remove-submit,
html.js .islandora-solr-configure-submit
{
  display: none;
}

.islandora-solr-remove-link,
.islandora-solr-configure-link
{
  display: none;
}

html.js .islandora-solr-remove-link,
html.js .islandora-solr-configure-link
{
  display: block;
}

html.js table span.tabledrag-changed
{
  position: absolute;
}