/* $Id: */

form#islandora-solr-search-block-form select#edit-type1,
form#islandora-solr-search-block-form select#edit-type2,
form#islandora-solr-search-block-form select#edit-type3
{
  width:100%;
}

form#islandora-solr-search-block-form input#edit-fedora-terms1,
form#islandora-solr-search-block-form input#edit-fedora-terms2,
form#islandora-solr-search-block-form input#edit-fedora-terms3,
form#islandora-solr-simple-search-form input#edit-islandora-simple-search-query
{
  width:96%;
}

.islandora_solr_search_query_wrap,
.islandora_solr_search_filter_wrap,
.islandora_solr_search_facet_wrap
{
}

.islandora_solr_search_facet_name,
.islandora_solr_search_facet_title
{
  font-weight:bold;
}

.islandora_solr_search_facet_wrap ul li
{
  font-size:90%;
  line-height:1.3em;
}

img.islandora_solr_add_remove_link
{
  vertical-align: middle;
}

.islandora_solr_search_filter_wrap ul.islandora_solr_search_filter_list,
.islandora_solr_search_query_wrap ul.islandora_solr_search_query_list
{
  padding: 0;
}
.islandora_solr_search_filter_wrap ul.islandora_solr_search_filter_list li,
.islandora_solr_search_query_wrap ul.islandora_solr_search_query_list li
{
  list-style: none inside none;
  padding: 0;
  margin: 0;
  background-image: none;
}
table.islandora_solr_search_results_table
{
}
table.islandora_solr_search_results_table tr
{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
table.islandora_solr_search_results_table tr td
{
  padding: 0 2px;
}

.islandora_solr_search_breadcrumb_super
{
  vertical-align: super;
  font-size: smaller;
}

.islandora_solr_search_facet {
}

.islandora_solr_search_facet .plusminus {
  float:right;
}

#islandora_solr_secondary_display_profiles {
  float:right;
}

img.islandora_solr_secondary_display_icon {
  vertical-align: bottom;
}

.item-list ul.islandora-solr-search-secondary li
{
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: none; 
}


html.js .refresh-button {
  display: none;
}

.strikethrough {
  text-decoration: line-through !important;
}

#islandora-solr-top
{
  min-height: 25px;
}

/* hide the 2nd list if a facet list is split in two */
.islandora_solr_search_facet .hidden
{
  display: none;
}

/* admin section */

#solr_facet_table th,
#solr_facet_table td
{
  vertical-align: top;
  width: 33%;
}

#solr_facet_table .form-item
{
  white-space: normal;
}

/*
 * Thumbnails float optionally to the left or right of descriptive lists.
 */

.solr-thumb img {
  max-width: 100%;
  *width: 100%;
  border: 1px solid #ccc;
}

dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 1.5em auto;
}

.solr-thumb dt,
.solr-thumb dd {
  margin: 0;
}

/*
 * These rules will display DTs/DDs as columns.
 * Constructs must follow a key/value pair pattern.
 * The three last declarations are meant to kill white space between DTs/DDs 
 * (result of inline-block styling)
 */
dl.solr-fields {
  float: right;
  width:83%;
  margin: 1.5em auto;
  letter-spacing:-0.34em;
  *letter-spacing:normal;
  word-spacing:-0.44em;
  border-top:3px solid #ddd;
} 

/*
 * The width + left/right padding of DTs/DDs equals 88% when compensating for an image
 */
.solr-fields dt {
  margin-right:-1px;
  width:22.5%;
  font-weight: bold;
}

.solr-fields dd {
  width:67%;
}

/* 
 * In this rule, we reset the white-space (see hack above)
 */
.solr-fields dt,
.solr-fields dd {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  padding:6px 2% 4px;
  margin:0;
  border-top:1px solid #ddd;
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word; /* webkit */
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.solr-fields dt.first,
.solr-fields dd.first {
  border-top: 0;
}
